.git
.github
.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
frontend/.dart_tool
frontend/build
frontend/.packages
*.db
*.sqlite
*.sqlite3
.env
**/key.properties
**/*.jks
**/*.keystore
